<div fxLayoutAlign="center center" style="width: 100vw; height: 100vh">
  <ion-card fxFlex="40">
    <ion-card-header color="secondary">
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>

    <form
      [formGroup]="form"
      fxLayout="column"
      fxLayoutGap="8px"
      class="w-100-p form-container"
    >
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input
          type="text"
          placeholder="Name"
          formControlName="name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="text"
          placeholder="Email"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Role</ion-label>
        <ion-select formControlName="role">
          <ion-select-option value="STAFF">STAFF</ion-select-option>
          <ion-select-option value="LEAD">LEAD</ion-select-option>
          <ion-select-option value="DIRECTOR">DIRECTOR</ion-select-option>
        </ion-select>
      </ion-item>
    </form>

    <div class="ion-margin">
      <ion-button
        expand="block"
        shape=""
        size="default"
        color="dark"
        fill="solid"
        (click)="register()"
      >
        <span class="ion-text-capitalize">Register</span>
      </ion-button>
      <ion-button size="small" fill="outline" expand="block" (click)="login()">Login</ion-button>
    </div>
  </ion-card>
</div>
